# -*- coding: utf-8 -*-
# vim: ft=yaml

{% import_yaml "backup/maps/defaults.map" as backup_defaults %}

{% import_yaml "backup/maps/osdefaults.map" as backup_osdefaults %}

{% import_yaml "backup/maps/os.map" as backup_os %}

{% set backup_os_family = {} %}

{% do backup_os_family.update(backup_defaults) %}
{% do backup_os_family.update(backup_osdefaults) %}
{% do backup_os_family.update(backup_os) %}

{%- set backup_default_plus_pillar_lookup = salt['grains.filter_by'](backup_os_family, grain='os_family', merge=salt['pillar.get']('backup:lookup'), default='osdefaults', base='defaults') %}

{%- set backup = salt['pillar.get']('backup', default=backup_default_plus_pillar_lookup, merge=True) %}
